*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
    text-align: center;
}
.main-container{
    /*border: 1px solid red;*/
    text-align: center;
    width: 100vw;
    height: 800px;
    
    justify-content: center;
    align-items: center;
}
.form-container{
    border: 1px solid blue;
    display: flex;
    width: 460px;
    height: 665px;
    position: relative;
    
    
}

.footer-link{
    display: flex;
    position:absolute;
    gap: 15px;
    bottom: -10px;
    right: 30px;
    visibility: hidden;
}
.footer-link div{
    border: 1px solid grey;
    color: rgb(20, 14, 3);
    border-radius: 25px;
    background-color: rgb(217, 224, 222);
    padding: 5px 10px;
    text-align: center;
    
}
.image-container:hover .save{
    visibility: visible;
    top: 40px;
    transition: top 1.5s;


}
.image-container:hover .footer-link{
    visibility: visible;
    bottom: 70px;
    transition: bottom 1s;
}

